## Copyright (C) 2012 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: anon-meta-packages
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 9), genmkfile
Homepage: https://github.com/Whonix/anon-meta-packages
Vcs-Browser: https://github.com/Whonix/anon-meta-packages
Vcs-Git: https://github.com/Whonix/anon-meta-packages.git
Standards-Version: 3.9.8

Package: non-qubes-vm-enhancements-cli
Architecture: all
Depends: power-savings-disable-in-vms, shared-folder-help, swappiness-lowest,
 keyboard-configuration, kbd, acpi-support, console-common, console-setup,
 initramfs-tools, os-prober, ${misc:Depends}
Replaces: non-qubes-vm-enhancements
Description: Recommended packages for terminal based VMs CLI
 A metapackage, which includes recommended packages which are useful within
 non-Qubes virtual machines. These are not useful in Qubes, since Qubes
 already has native implementations for those.
 .
 Safe to remove, if you know what you are doing.

Package: non-qubes-vm-enhancements-gui
Architecture: all
Depends: non-qubes-vm-enhancements-cli, rads, libasound2, alsa-utils,
 pulseaudio, ${misc:Depends}
Description: Recommended packages for graphical VMs GUI
 A metapackage, which includes recommended packages which are useful within
 non-Qubes virtual machines GUI. These are not useful in Qubes, since Qubes
 already has native implementations for those.
 .
 Safe to remove, if you know what you are doing.

Package: hardened-packages-dependencies-cli
Priority: required
Architecture: all
Depends: bzip2, file, lsof, most, pciutils, strace, sysfsutils,
 less, haveged, locales, apt-transport-https, apt-transport-tor,
 sdwdate, bootclockrandomization, timesanitycheck,
 timezone-utc, vbox-disable-timesync, busybox,
 security-misc, ${misc:Depends}
Replaces: anon-shared-packages-dependencies
Description: Dependencies for hardened systems CLI
 A metapackage, which installs command line interface (CLI) packages which
 should be installed on hardened systems.
 .
 Do not remove.

Package: hardened-packages-recommended-cli
Architecture: all
Depends: bash-completion, command-not-found, zsh, nano, wget, dnsutils,
 iputils-ping, apparmor-utils,
 apparmor-profile-anondist, udisks2, secure-delete, sudo, net-tools,
 gpl-sources-download, whonix-repository,
 scurl, security-misc, openvpn, ntfs-3g,
 usability-misc, menu, man-db, open-link-confirmation,
 ${misc:Depends}
Replaces: anon-shared-packages-recommended
Description: Recommended packages for hardened systems CLI
 A metapackage, which includes recommended packages to ensure, Debian GNU/Linux
 standard tools are available and other useful recommended packages for a
 command line interface (CLI) based hardened system.
 .
 Safe to remove, if you know what you are doing.

Package: whonix-shared-default-applications-gui
Architecture: all
Pre-Depends: whonix-legacy
Depends: sdwdate-gui, msgcollector-gui, anon-iceweasel-warning, anon-icon-pack,
 ${misc:Depends}
Replaces: anon-shared-default-applications
Description: Recommended packages for Whonix-Gateway and Whonix-Workstation GUI
 A metapackage, which installs recommended graphical user interface (GUI)
 default applications, which are useful in a default installation of a
 Whonix-Gateway or Whonix-Workstation desktop.
 .
 Safe to remove, if you know what you are doing.

Package: whonix-gateway-default-applications-gui
Architecture: all
Pre-Depends: whonix-legacy
Depends: onioncircuits, anon-connection-wizard, tor-control-panel,
 whonix-setup-wizard,
 whonix-gw-kde-desktop-conf,
 ${misc:Depends}
Replaces: anon-gateway-default-applications, whonix-gateway-default-applications
Description: Recommended desktop packages for Whonix-Gateway GUI
 A metapackage, which installs graphical user interface (GUI) packages,
 which are recommended for a graphical Whonix-Gateway.
 .
 Safe to remove, if you know what you are doing.

Package: hardened-desktop-environment-essential-gui
Architecture: all
Depends: xserver-xorg, xserver-xorg-video-qxl, xserver-xorg-video-fbdev,
 xserver-xorg-video-vesa, libgl1-mesa-dri, upower, gtk2-engines-pixbuf,
 ${misc:Depends}
Replaces: anon-shared-desktop
Description: Desktop Depends GUI
 A metapackage, which installs dependencies for desktop environments,
 such as KDE, GNOME, etc.
 .
 hardened-desktop-environment-essential-kde depends on this package.

Package: hardened-desktop-environment-essential-kde
Architecture: all
Depends: hardened-desktop-environment-essential-gui, sddm, kde-config-sddm,
 plasma-desktop, plasma-desktop-data, kwin-x11, ${misc:Depends}
Replaces: anon-shared-desktop-kde
Description: Recommended packages for hardened desktop base KDE desktop GUI
 A metapackage, which installs a minimal, yet complete enough
 to contain the very basics, KDE desktop.
 .
 Safe to remove.

Package: hardened-desktop-applications-kde
Architecture: all
Depends: kdesudo, kscreen, polkit-kde-agent-1, kdepasswd, kfind,
 ksysguard, konsole, kwrite, dolphin, baloo-kf5, ark, systemsettings,
 p7zip-full, zip, unzip, ksystemlog, gtk2-engines-oxygen,
 gtk3-engines-breeze, plasma-pa,
 kde-config-gtk-style, kde-config-gtk-style-preview,
 kde-config-screenlocker, kde-config-sddm, kde-style-oxygen-qt5,
 kmenuedit, ${misc:Depends}
Replaces: anon-shared-applications-kde
Description: Recommended applications for hardened KDE desktop GUI
 A metapackage, which installs a minimal, yet complete enough
 to contain the very basics, KDE applications.
 .
 Safe to remove.

Package: hardened-desktop-kde-accessibility-gui
Architecture: all
Depends: gnome-orca,
 console-braille, florence, dasher, kdeaccessibility, kvkbd, kmousetool, kmag,
 kmouth, jovie, xbrlapi, festival, qt-at-spi, ${misc:Depends}
Replaces: anon-shared-kde-accessibility
Description: KDE accessibility tools GUI
 A metapackage, which installs accessibility tools for the KDE desktop.
 .
 Safe to remove, if you know what you are doing.

Package: hardened-desktop-environment-essential-xfce
Architecture: all
Depends: hardened-desktop-environment-essential-gui, xfce4, ${misc:Depends}
Description: Recommended packages for hardened desktop base Xfce4 desktop GUI
 A metapackage, which installs a minimal, yet complete enough
 to contain the very basics, Xfce desktop.
 .
 Safe to remove.

Package: hardened-desktop-applications-xfce
Architecture: all
Depends: hardened-desktop-environment-essential-xfce, xfce4-terminal, mousepad,
 policykit-1, lightdm, gnome-brave-icon-theme, p7zip-full, zip, unzip,
 ristretto, pulseaudio, whonix-xfce-desktop-config, ${misc:Depends}
Description: Recommended applications for hardened Xfce desktop GUI
 A metapackage, which installs minimal, yet complete enough
 to contain the very basics, Xfce applications.
 .
 Safe to remove.

Package: whonix-workstation-default-applications-gui
Architecture: all
Depends: hexchat, vlc, mixmaster, kcalc, okular, hunspell-en-us,
 gwenview, libkf5kipi31.0.0, libkf5kipi-data,
 kgpg, mat, python-hachoir-core, python-hachoir-parser,
 python-pdfrw, python-cairo, python-poppler, python-mutagen,
 libimage-exiftool-perl, gir1.2-gtk-3.0,
 pinentry-qt | pinentry-x11,
 tb-default-browser, tb-starter, tb-updater, youtube-dl,
 ricochet-im, coyim, xchat-improved-privacy, ${misc:Depends}
Replaces: anon-workstation-default-applications
Description: Recommended default applications for a graphical Anon-Workstation GUI
 A metapackage, which installs recommended GUI default applications,
 which are useful in a default installation of a graphical Tor Workstation.
 .
 Safe to remove, if you know what you are doing.

Package: apparmor-profiles-hardened-debian
Architecture: all
Depends: apparmor-profile-icedove,
 apparmor-profile-torbrowser,
 apparmor-profile-xchat,
 apparmor-profile-gwenview, apparmor-profile-okular, ${misc:Depends}
Replaces: apparmor-profiles-whonix
Description: AppArmor profiles developed by the Hardened Debian Team
 A metapackage, which installs apparmor profiles developed by the Hardened
 Debian team.
 .
 Increases security.
 .
 Safe to remove, if you know what you are doing.

Package: whonix-gateway-packages-dependencies-pre
Priority: required
Architecture: all
Depends: whonix-gw-network-conf, anon-base-files,
 ${misc:Depends}
Description: Dependencies for Whonix-Gateway that changes network related files
 A metapackage, which installs packages which Whonix-Gateway
 depends on. Can not be merged into whonix-gateway-packages-dependencies due to
 conflicts with chroot build process.
 .
 Do not remove.

Package: whonix-gateway-packages-dependencies-cli
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: tor, anon-gw-base-files, ipv4-forward-disable,
 ipv6-disable, anon-gw-anonymizer-config,
 whonix-gateway-packages-dependencies-pre, ${misc:Depends}
Replaces: anon-gateway-packages-dependencies, whonix-gateway-packages-dependencies
Description: Dependencies for Whonix-Gateway CLI
 A metapackage, which installs packages which Whonix-Gateway
 depends on.
 .
 Do not remove.

Package: whonix-gateway-packages-recommended-cli
Architecture: all
Pre-Depends: whonix-legacy
Depends: tor-geoipdb, tor-arm, obfsproxy, obfs4proxy, flashproxy-client,
 fteproxy, onion-grater, whonixsetup,
 ${misc:Depends}
Replaces: anon-gateway-packages-recommended, whonix-gateway-packages-recommended
Description: Recommended packages for Whonix-Gateway CLI
 A metapackage, which installs packages, which are recommended for
 Whonix-Gateway.
 .
 Safe to remove, if you know what you are doing.

Package: whonix-shared-packages-dependencies-cli
Architecture: all
Pre-Depends: whonix-legacy
Depends: whonix-base-files, anon-apt-sources-list, whonix-firewall,
 whonix-initializer, grub-enable-apparmor,
 ${misc:Depends}
Replaces: whonix-shared-packages-dependencies
Description: Dependencies for Whonix-Gateway and Whonix-Workstation CLI
 A metapackage, which installs packages which both, Whonix-Gateway
 and Whonix-Workstation, depend on.
 .
 Do not remove.

Package: whonix-shared-packages-recommended-cli
Architecture: all
Depends: hardened-packages-recommended-cli, whonixcheck, tor-ctrl, uwt,
 anon-apps-config, ${misc:Depends}
Replaces: whonix-shared-packages-recommended
Description: Recommended packages for Whonix-Gateway and Whonix-Workstation CLI
 A metapackage, which includes recommended packages to ensure, Whonix
 standard tools are available and other useful recommended packages.
 .
 Safe to remove, if you know what you are doing.

Package: whonix-workstation-packages-dependencies-pre
Priority: required
Architecture: all
Depends: whonix-ws-network-conf, anon-ws-dns-conf, anon-base-files,
 ${misc:Depends}
Description: Dependencies for Whonix-Workstation that changes network related files
 A metapackage, which installs packages which Whonix-Workstation
 depends on. Can not be merged into whonix-workstation-packages-dependencies
 due to conflicts with chroot build process.
 .
 Do not remove.

Package: whonix-workstation-packages-dependencies-cli
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: anon-ws-base-files, whonix-workstation-packages-dependencies-pre,
 ${misc:Depends}
Replaces: anon-workstation-packages-dependencies, whonix-workstation-packages-dependencies
Description: Dependencies for Whonix-Workstation CLI
 A metapackage, which installs packages which Whonix-Workstation
 depends on.
 .
 Do not remove.

Package: whonix-workstation-packages-recommended-cli
Architecture: all
Depends: anon-mixmaster, anon-gpg-tweaks, anon-ws-disable-stacked-tor, pwgen,
 python-msgpack, bindp, codecrypt, gnupg2, gnupg-agent, dirmngr, ${misc:Depends}
Description: Recommended packages for Whonix-Workstation CLI
 A metapackage, which installs packages, which are recommended for
 command line interface (CLI) Whonix-Workstation, because they are
 useful for a Tor Workstation.
 .
 Feel free to remove if you know what you are doing.

Package: whonix-workstation-packages-recommended-gui
Architecture: all
Depends: whonix-workstation-packages-recommended-cli, whonix-ws-irc-chat-support,
 whonix-welcome-page, whonix-ws-start-menu-additions, ${misc:Depends}
Replaces: anon-workstation-packages-recommended, whonix-workstation-packages-recommended
Description: Recommended packages for Whonix-Workstation GUI
 A metapackage, which installs packages, which are recommended for
 graphical user interface (GUI) Whonix-Workstation, because they are
 useful for a Tor Workstation.
 .
 Feel free to remove if you know what you are doing.

Package: whonix-gateway-shared-packages-shared-meta
Architecture: all
Pre-Depends: whonix-legacy
Depends: hardened-packages-dependencies-cli,
 hardened-packages-recommended-cli,
 hardened-desktop-applications-kde,
 whonix-shared-default-applications-gui,
 whonix-shared-packages-dependencies-cli,
 whonix-shared-packages-recommended-cli,
 whonix-gateway-default-applications-gui,
 whonix-gateway-packages-dependencies-cli,
 whonix-gateway-packages-recommended-cli,
 ${misc:Depends}
Description: Whonix-Gateway Shared Packages
 A metapackage, which installs packages, for a Whonix-Default-Gateway.
 .
 It is shared between Qubes-Whonix and Non-Qubes-Whonix.
 .
 Feel free to remove if you know what you are doing.

Package: whonix-workstation-shared-packages-shared-meta
Architecture: all
Pre-Depends: whonix-legacy
Depends: hardened-packages-dependencies-cli,
 hardened-packages-recommended-cli,
 hardened-desktop-applications-kde,
 whonix-shared-default-applications-gui,
 whonix-shared-packages-dependencies-cli,
 whonix-shared-packages-recommended-cli,
 whonix-workstation-packages-dependencies-cli,
 whonix-workstation-default-applications-gui,
 whonix-workstation-packages-recommended-cli,
 whonix-workstation-packages-recommended-gui,
 ${misc:Depends}
Description: Whonix-Workstation Shared Packages
 A metapackage, which installs packages, for a Whonix-Default-Workstation.
 .
 It is shared between Qubes-Whonix and Non-Qubes-Whonix.
 .
 Feel free to remove if you know what you are doing.

Package: non-qubes-whonix-gateway-cli
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-vm-enhancements-cli, hardened-packages-dependencies-cli,
 hardened-packages-recommended-cli, whonix-shared-packages-dependencies-cli,
 whonix-shared-packages-recommended-cli,
 whonix-gateway-packages-dependencies-cli,
 whonix-gateway-packages-recommended-cli,
 anon-connection-wizard, tor-control-panel, ${misc:Depends}
Description: Default Packages for Non-Qubes-Whonix-Gateway CLI
 A metapackage, which installs packages, for a
 Non-Qubes-Whonix-Default-Gateway without graphical user interface (GUI).
 .
 Do not remove.

Package: whonix-gateway-rpi
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-whonix-gateway-cli, raspi3-firmware, fake-hwclock, wpasupplicant, firmware-iwlwifi, firmware-atheros, firmware-brcm80211, firmware-ralink, firmware-realtek, iw, linux-image-arm64 (>= 4.16), ${misc:Depends}
Description: Default packages for Whonix-Gateway-RPi CLI
 A metapackage, which installs packages for a CLI
 Raspberry Pi 3 Whonix-Gateway.
 .
 Do not remove.

Package: qubes-whonix-gateway
Priority: required
Architecture: all
Depends: whonix-gateway-shared-packages-shared-meta, qubes-whonix,
 qubes-whonix-shared-packages-recommended,
 qubes-whonix-gateway-packages-recommended, ${misc:Depends}
Replaces: whonix-gateway
Description: Default packages for Qubes-Whonix-Gateway
 A metapackage, which installs packages, for a
 Qubes-Whonix-Default-Gateway.
 .
 Only depends on whonix-gateway-shared-packages-shared-meta,
 because installing hardened-desktop-environment-essential-gui is not required
 in Qubes-Whonix.
 .
 Do not remove.

Package: qubes-whonix-workstation
Priority: required
Architecture: all
Depends: whonix-workstation-shared-packages-shared-meta, qubes-whonix,
 qubes-whonix-shared-packages-recommended,
 qubes-whonix-workstation-packages-recommended, ${misc:Depends}
Replaces: whonix-workstation
Description: Default packages for Qubes-Whonix-Workstation
 A metapackage, which installs packages, for a
 Qubes-Whonix-Default-Workstation.
 .
 Only depends on whonix-workstation-shared-packages-shared-meta,
 because installing hardened-desktop-environment-essential-gui is not required
 in Qubes-Whonix.
 .
 Do not remove.

Package: non-qubes-whonix-gateway-kde
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: whonix-gateway-shared-packages-shared-meta, non-qubes-vm-enhancements-gui,
 hardened-desktop-environment-essential-kde, ${misc:Depends}
Replaces: whonix-gateway, non-qubes-whonix-gateway
Description: Default Packages for Non-Qubes-Whonix-Gateway KDE GUI
 A metapackage, which installs packages, for a
 Non-Qubes-Whonix-Default-Gateway with KDE.
 .
 Depends on whonix-gateway-shared-packages-shared-meta,
 and hardened-desktop-environment-essential-kde because that is required in
 Non-Qubes-Whonix KDE in order to get graphical desktop environment.
 .
 Do not remove.

Package: non-qubes-whonix-gateway-xfce
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-vm-enhancements-gui,
 hardened-desktop-applications-xfce,
 whonix-shared-default-applications-gui,
 whonix-gateway-default-applications-gui,
 non-qubes-whonix-gateway-cli,
 ${misc:Depends}
Description: Default Packages for Non-Qubes-Whonix-Gateway Xfce GUI
 A metapackage, which installs packages, for a
 Non-Qubes-Whonix-Default-Gateway with Xfce.
 .
 Depends on hardened-desktop-applications-xfce because that is required in
 Non-Qubes-Whonix Xfce in order to get graphical desktop environment.
 .
 Do not remove.

Package: non-qubes-whonix-workstation-kde
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: whonix-workstation-shared-packages-shared-meta, non-qubes-vm-enhancements-gui,
 hardened-desktop-environment-essential-kde, ${misc:Depends}
Replaces: whonix-workstation, non-qubes-whonix-workstation
Description: Default Packages for Non-Qubes-Whonix-Workstation KDE GUI
 A metapackage, which installs packages, for a
 Non-Qubes-Whonix-Default-Workstation with KDE.
 .
 Depends on whonix-workstation-shared-packages-shared-meta,
 and hardened-desktop-environment-essential-kde because that is required in
 Non-Qubes-Whonix KDE in order to get graphical desktop environment.
 .
 Do not remove.

Package: non-qubes-whonix-workstation-xfce
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-vm-enhancements-gui,
 hardened-desktop-applications-xfce,
 whonix-shared-default-applications-gui,
 whonix-workstation-default-applications-gui,
 whonix-workstation-packages-recommended-gui,
 non-qubes-whonix-workstation-cli,
 ${misc:Depends}
Description: Default Packages for Non-Qubes-Whonix-Workstation Xfce GUI
 A metapackage, which installs packages, for a
 Non-Qubes-Whonix-Default-Workstation with Xfce.
 .
 Depends on hardened-desktop-applications-xfce because that is required in
 Non-Qubes-Whonix Xfce in order to get graphical desktop environment.
 .
 Do not remove.

Package: non-qubes-whonix-workstation-cli
Priority: required
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-vm-enhancements-cli, hardened-packages-dependencies-cli,
 hardened-packages-recommended-cli, whonix-shared-packages-dependencies-cli,
 whonix-shared-packages-recommended-cli,
 whonix-workstation-packages-dependencies-cli,
 whonix-workstation-packages-recommended-cli, ${misc:Depends}
Description: Default Packages for Non-Qubes-Whonix-Workstation CLI
 A metapackage, which installs packages, for a
 Non-Qubes-Whonix-Default-Workstation without graphical user interface (GUI).
 .
 Do not remove.

Package: debian-vm-cli
Priority: required
Architecture: all
Depends: non-qubes-vm-enhancements-cli, ${misc:Depends}
Description: Default Packages for Debian VM CLI
 A metapackage, which installs packages, for a Debian CLI based VM.
 .
 Do not remove.

Package: debian-vm-kde
Priority: required
Architecture: all
Depends: non-qubes-vm-enhancements-gui,
 hardened-desktop-environment-essential-kde, ${misc:Depends}
Description: Default Packages for Debian VM KDE GUI
 A metapackage, which installs packages, for a Debian KDE based VM.
 .
 Do not remove.

Package: hardened-debian-cli
Priority: required
Architecture: all
Depends: debian-vm-cli, hardened-packages-dependencies-cli,
 hardened-packages-recommended-cli, ${misc:Depends}
Description: Hardened Debian command line interface CLI
 A metapackage, which installs packages, for Hardened Debian CLI.
 .
 Do not remove.

Package: hardened-debian-kde
Priority: required
Architecture: all
Depends: hardened-debian-cli, ${misc:Depends}
Description: Hardened Debian KDE GUI
 A metapackage, which installs packages, for Hardened Debian KDE.
 .
 Do not remove.

Package: non-qubes-whonix-gateway
Priority: extra
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-whonix-gateway-kde, ${misc:Depends}
Section: oldlibs
Description: transitional package Whonix-Gateway KDE
 Use non-qubes-whonix-gateway-kde instead.
 This is a transitional package. Legacy.
 .
 It can be removed by installing package non-qubes-whonix-gateway-kde.
 .
 sudo apt-get install non-qubes-whonix-gateway-kde

Package: non-qubes-whonix-workstation
Priority: extra
Architecture: all
Pre-Depends: whonix-legacy
Depends: non-qubes-whonix-workstation-kde, ${misc:Depends}
Section: oldlibs
Description: transitional package Whonix-Workstation KDE
 Use non-qubes-whonix-workstation-kde instead.
 This is a transitional package. Legacy.
 .
 It can be removed by installing package non-qubes-whonix-workstation-kde.
 .
 sudo apt-get install non-qubes-whonix-workstation-kde
